.top-bar, .top-bar ul {
  background-color: $nav-background;
}
.menu {
  padding: 10px 0 10px 0;

  li {
    padding-right: 10px;
  }
}
.top-bar {
  padding: 0;

  .menu-text {
    color: $nav-text-color;
  }

  ul li .nav-link {
    color: $nav-text-color;
  }

  ul li .nav-link:hover {
    color: $nav-text-color-hover;
    background-color: $light-blue;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
    color: $nav-text-color;
  }

  .active-link {
    color: $nav-active !important;
    font-weight: bold;
    background-color: $light-blue;
  }
}
