//Colors
$blue: #106582;
$light-blue: #C5E3ED;
$dark-grey-blue: #5E96A8;

//Navigation colors
$nav-background: $blue;
$nav-text-color: white;
$nav-text-color-hover: $dark-grey-blue;
$nav-active: $dark-grey-blue;
