//Colors
$blue: #106582;
$light-blue: #C5E3ED;
$dark-grey-blue: #5E96A8;

//Navigation colors
$nav-background: $blue;
$nav-text-color: white;
$nav-text-color-hover: $dark-grey-blue;
$nav-active: $dark-grey-blue;

//Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: $dark-grey-blue;
